In [17]:
import csv, pandas as pd, numpy as np, matplotlib.pyplot as plt

## Data Set
This data set reflects the jobs applied to in LA city by Gender and Ethnicity.

This data set was found on data.gov
URL Link: https://catalog.data.gov/dataset/applicant-information-from-7-1-2014-to-9-30-2014-7835b

## Data Wrangling and Data Cleaning

In [23]:
#Loading in the data set into a data frame
job_applicants_df = pd.read_csv(open('Job_Applicants_by_Gender_and_Ethnicity.csv'), header=None)

In [24]:
#Investigating column names
print job_applicants_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [25]:
#renaming column names

#new column names instead of numbers
column_names = ["fiscal_year", "job_number", "job_description",
                "apps_received", "female", "male", "unknown_gender",
                "black", "hispanic", "asian", "caucasian", 
                "american_indian_alaskan_native", "filipino", "unknown_ethnicity"
               ]
job_applicants_df.columns = column_names
#dropping first row since it was the title name in the data set
job_applicants_df = job_applicants_df.drop(job_applicants_df.index[0])

In [26]:
#dropping job number column since it was arbitrary
job_applicants_df = job_applicants_df.drop("job_number", axis=1)

In [28]:
#changing data types of data set from string to int
def change_list_type(column):
    """This function will take in a column name in the dataframe and will convert it
    from string to int data type."""
    job_applicants_df[column] = [int(index) for index in job_applicants_df[column]] 

change_list_type("apps_received")
change_list_type("female")
change_list_type("male")
change_list_type("unknown_gender")
change_list_type("hispanic")
change_list_type("black")
change_list_type("asian")
change_list_type("caucasian")
change_list_type("american_indian_alaskan_native")
change_list_type("filipino")
change_list_type("unknown_ethnicity")
job_applicants_df

,fiscal_year,job_description,apps_received,female,male,unknown_gender,black,hispanic,asian,caucasian,american_indian_alaskan_native,filipino,unknown_ethnicity
1,2013-2014,311 DIRECTOR 9206,54,20,31,3,25,18,1,6,0,0,4
2,2013-2014,ACCOUNTING CLERK 1223,648,488,152,8,151,204,123,62,3,79,26
3,2013-2014,AIRPORT MANAGER 7260,51,13,37,1,8,12,9,20,0,0,2
4,2013-2014,AIRPORT POLICE LIEUTENANT 2013,48,9,38,1,21,14,3,7,0,1,2
5,2013-2014,AQUARIST 2400,40,15,24,1,3,7,7,19,1,1,2
6,2013-2014,ARCHIVIST1191,161,89,66,6,12,36,20,73,0,6,14
7,2013-2014,ART CENTER DIRECTOR 2478,102,53,48,1,22,18,14,37,2,4,5
8,2013-2014,ARTS ASSOCIATE 2454,702,430,240,32,96,173,84,211,5,40,93
9,2013-2014,ASSISTANT COMMUNICATIONS CABLE WORKER 3808,105,3,101,1,24,44,2,27,0,6,2
10,2013-2014,ASSISTANT UTILITY BUYER 1860,897,467,411,19,197,229,197,116,3,103,52
11,2013-2014,AUDIO VISUAL TECHNICIAN (6147),329,27,294,8,70,97,19,107,1,10,25
12,2013-2014,AUTOMOTIVE DISPATCHER 3595,104,27,75,2,41,43,5,6,1,2,6
13,2013-2014,AUTOMOTIVE SUPERVISOR 3714,124,2,120,2,7,53,10,46,1,2,5
14,2013-2014,BUILDING MECHANICAL INSPECTOR 4251,199,7,191,1,24,57,3,101,1,4,9
15,2013-2014,BUILDING REPAIR SUPERVISOR 3338,79,0,78,1,8,21,1,33,1,9,6
16,2013-2014,CARPET LAYER 2014,9,1,8,0,6,3,0,0,0,0,0
17,2013-2014,CHIEF CLERK PERSONNEL 1260,39,35,4,0,16,12,2,4,0,3,2
18,2013-2014,CHIEF FINANCIAL OFFICER 9230,57,22,34,1,10,7,11,21,0,4,4
19,2013-2014,CHIEF MANAGEMENT ANALYST 9182,143,78,54,11,19,32,15,42,0,15,20
20,2013-2014,CHIEF OF AIRPORT PLANNING 7945,5,3,2,0,0,3,0,2,0,0,0
21,2013-2014,CHIEF OF DRAFTING OPERATIONS 7271,13,2,11,0,1,7,2,1,0,1,1
22,2013-2014,CHIEF PERSONNEL ANALYST 1741,13,4,9,0,1,2,3,4,0,1,2
23,2013-2014,CHIEF TAX COMPLIANCE OFFICER 1211,14,1,13,0,1,0,7,3,1,2,0
24,2013-2014,COMMUNICATIONS CABLE WORKER 3802,393,2,386,5,69,206,17,67,5,15,14
25,2013-2014,COMMUNICATIONS ELECTRICIAN SUPERVISOR 3689,72,2,70,0,13,16,11,27,0,4,1
26,2013-2014,CONTROL SYSTEMS ENGINEERING ASSOCIATE 7230,200,13,176,11,16,44,70,37,1,13,19
27,2013-2014,CUSTOMER SERVICE REPRESENTATIVE 1230,28230,19892,7968,370,12618,10214,1094,1958,131,740,1475
28,2013-2014,CUSTOMER SERVICE SPECIALIST 1229 (Filing start...,220,149,70,1,82,98,9,12,1,14,4
29,2013-2014,DETENTION OFFICER 3211,2297,819,1464,14,874,1076,70,173,10,41,53
30,2013-2014,DIRECTOR OF FIELD OPERATIONS 4321,14,5,9,0,2,3,0,9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2014-2015,COMMERCIAL SERVICE SUPERVISOR 1213 - ARCHIVE,257,189,58,10,114,83,15,6,2,10,27
159,2014-2015,CONSTRUCTION INSPECTOR 7291 - ARCHIVE,471,17,443,11,48,144,46,160,7,20,46
160,2014-2015,DATA PROCESSING TECHNICIAN (1136) - ARCHIVE,1175,657,471,47,306,461,140,88,2,88,90
161,2014-2015,DIRECTOR OF HOUSING (1568) - ARCHIVE,59,34,23,2,26,13,4,9,2,0,5
162,2014-2015,ELEVATOR MECHANIC 3866 - ARCHIVE,30,0,30,0,4,16,1,8,0,0,1
163,2014-2015,ELEVATOR MECHANIC HELPER 3860 - ARCHIVE,203,2,195,6,44,95,9,36,0,10,9
164,2014-2015,Firefighter 2014 (Filing starts on July 22 at ...,10215,531,9356,328,1067,3610,483,3843,153,245,814
165,2014-2015,GEOGRAPHIC INFORMATION SYSTEMS SUPERVISOR 7214...,27,7,18,2,1,9,3,7,0,5,2
166,2014-2015,GRAPHICS DESIGNER 1670 - ARCHIVE,627,252,355,20,40,185,145,148,2,52,55
167,2014-2015,INSTRUMENT MECHANIC 3843 - ARCHIVE,172,4,162,6,15,50,37,31,1,14,24
168,2014-2015,INSTRUMENT MECHANIC SUPERVISOR 3844 - ARCHIVE,41,1,36,4,4,8,7,7,0,6,9
169,2014-2015,LEGISLATIVE REPRESENTATIVE 9482 - ARCHIVE,41,15,24,2,10,11,4,9,0,0,7
170,2014-2015,PIPEFITTER 3433 - ARCHIVE,223,3,215,5,29,104,2,75,1,5,7
171,2014-2015,PRINCIPAL COMMUNICATIONS OPERATOR 1458 - ARCHIVE,22,17,4,1,10,7,0,4,0,0,1
172,2014-2015,PRINCIPAL ENVIRONMENTAL ENGINEER 7875 - ARCHIVE,27,4,22,1,1,5,3,12,0,2,4
173,2014-2015,PRINCIPAL WORKERS' COMPENSATION ANALYST (1777)...,10,5,5,0,3,2,3,1,0,1,0
174,2014-2015,SENIOR ELECTRICAL MECHANIC SUPERVISOR 3836 - A...,50,1,47,2,3,8,3,26,0,0,10
175,2014-2015,SENIOR GARDENER 3143 - ARCHIVE,297,33,250,14,29,192,5,34,5,9,23
176,2014-2015,SENIOR UNDERGROUND DISTRIBUTION CONSTRUCTION S...,15,0,14,1,2,4,2,5,0,0,2
177,2014-2015,SENIOR WORKERS' COMPENSATION ANALYST 1769 - AR...,44,26,18,0,16,14,2,7,1,3,1
178,2014-2015,SMS PAYMENT CLERK 1214 - ARCHIVE,150,119,23,8,40,41,28,9,0,12,20
179,2014-2015,UNDERGROUND DISTRIBUTION CONSTRUCTION MECHANIC...,591,7,573,11,82,331,12,124,5,8,29
180,2014-2015,UNDERGROUND DISTRIBUTION CONSTRUCTION SUPERVIS...,51,0,49,2,12,22,0,11,1,0,5
181,2014-2015,UTILITY SERVICES MANAGER 9106 REVISED 07/15/14...,68,31,30,7,13,19,5,16,0,6,9
182,2014-2015,UTILITY SERVICES SPECIALIST 3755 - ARCHIVE,735,409,282,44,182,163,125,81,4,78,102
183,2014-2015,WASTEWATER TREATMENT LABORATORY MANAGER 7840 -...,16,6,9,1,3,0,5,7,0,0,1
184,2014-2015,WASTEWATER TREATMENT OPERATOR 4123 - ARCHIVE,125,9,113,3,29,38,10,32,7,4,5
185,2014-2015,WATER MICROBIOLOGIST 7857 - ARCHIVE,179,89,82,8,13,37,64,25,0,18,22
186,2014-2015,WATER UTILITY WORKER 3912 - ARCHIVE,96,2,92,2,8,48,6,23,1,7,3
187,2014-2015,WORKERS' COMPENSATION ANALYST 1774 - ARCHIVE,166,100,61,5,44,61,14,21,0,11,15

## Basic Data Analysis

In [16]:
#Job Applications Mean, Median, Mode
job_apps_received_mean = job_applicants_df["apps_received"].mean()
job_apps_received_median = job_applicants_df["apps_received"].median()
job_apps_received_mode = job_applicants_df["apps_received"].mode()
job_apps_received_max = job_applicants_df["apps_received"].max()

#Females applied mean, median, mode
females_applied_mean = job_applicants_df["female"].mean()
males_applied_mean = job_applicants_df["male"].mean()
unknown_gender_applied_mean = job_applicants_df["unknown_gender"].mean()
hispanic_applied_mean = job_applicants_df["hispanic"].mean()
black_applied_mean = job_applicants_df["black"].mean()
asian_applied_mean = job_applicants_df["asian"].mean()
caucasian_applied_mean = job_applicants_df["caucasian"].mean()
american_indian_alaskan_native_applied_mean = job_applicants_df["american_indian_alaskan_native"].mean()
filipino_applied_mean = job_applicants_df["filipino"].mean()
unknown_ethnicity_applied_mean = job_applicants_df["unknown_ethnicity"].mean()

499.721925134
100.0
('mode', 0    13
1    14
2    16
3    28
dtype: int64)
28230